.docs-cards-filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-auto-rows: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-items: center;
  width: 95%;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;

  @media screen and (max-width: 700px) {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
}

.card-filter .visible {
  position: relative;
}

.visible .docs-cards-filter {
  padding: 2em 0;
  max-height: 500px;
  height: auto;
  overflow-y: scroll;
  opacity: 1;
  margin: 0 auto;
  scrollbar-color: var(--primary-low) transparent;

  &::before {
    content: "";
    width: 100%;
    height: 2em;
    background: linear-gradient(
      180deg,
      var(--secondary) 20%,
      rgba(var(--secondary-rgb), 0) 100%
    );
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
  }

  &::after {
    content: "";
    width: 100%;
    height: 2em;
    background: linear-gradient(
      0deg,
      var(--secondary) 20%,
      rgba(var(--secondary-rgb), 0) 100%
    );
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
  }

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary-low);
    border-radius: 8px;
    border: 3px solid var(--secondary);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &:hover {
    scrollbar-color: var(--primary-low-mid) transparent;

    &::-webkit-scrollbar-thumb {
      background: var(--primary-low-mid);
    }
  }
}

.docs-card-box {
  &:visited {
    color: var(--primary);
  }
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--primary-low-mid);
  padding: 1em;
  border-radius: 0.25em;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 8px 0 var(--primary-low);

  &:hover {
    color: var(--primary);
    box-shadow: 0 6px 8px 4px var(--primary-low);
    transform: translateY(-3px);
  }
  transition: all 0.1s ease-in-out;

  &-header {
    display: flex;
    align-items: baseline;
    word-break: break-word;

    .d-icon.card-tag-icon {
      font-size: 0.75em;
      color: var(--primary-low-mid);
      margin-right: 0.5em;
    }

    .d-icon:not(.card-tag-icon) {
      font-size: 1em;
      background-color: var(--tertiary-low);
      padding: 0.5em;
      color: var(--tertiary);
      border-radius: 50%;
      margin-right: 0.5em;
    }

    &-title {
      margin: 0;
    }
  }

  &-description {
    margin: 0;

    p {
      font-size: var(--font-down-1);
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &-count {
    font-size: var(--font-down-1);
    margin-top: auto;
  }
}

.docs-card-box-header-badge-category-bg {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  margin-right: 0.25em;
}
