.docs-cards-filter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  transition: all 0.3s ease;
  opacity: 0;
  @media screen and (max-width: 700px) {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
}

.card-filter .visible {
  position: relative;
}

.visible .docs-cards-filter {
  padding: 0 0 1em 0;
  opacity: 1;
}

.docs-card-box {
  width: 100%;
  padding: 0.1em 0.3em;
  color: var(--primary);
  transition: all 0.1s ease-in-out;

  &:hover {
    color: var(--primary);
    background-color: var(--highlight-medium);
  }

  &:visited {
    color: var(--primary);
  }

  &-description {
    margin: 0 0 0 0.8em;
    font-size: var(--font-down-2);
    color: var(--primary-medium);
  }
}
