<div class="docs-cards-filter categories-filter tag-filter">
  {{#if includedCategories}}
    {{#each includedCategories as |category|}}
      {{category-wrapper category=category categoryOrders=categoryOrders categoryIcons=categoryIcons updateSelectedCategory=updateSelectedCategory}}
    {{/each}}
  {{/if}}
  {{#if includedTags}}
    {{#each includedTags as |tag|}}
      {{tag-wrapper tag=tag tagOrders=tagOrders tagIcons=tagIcons updateSelectedTag=updateSelectedTag}}
    {{/each}}
  {{/if}}
</div>

