<div class="docs-cards-filter">
  {{#if this.includedCategories}}
    {{#each this.includedCategories as |category|}}
      {{category-wrapper
        category=category
        categoryOrders=this.categoryOrders
        categoryIcons=this.categoryIcons
        updateSelectedCategory=this.updateSelectedCategory
      }}
    {{/each}}
  {{/if}}
  {{#if this.includedTags}}
    {{#each this.includedTags as |tag|}}
      {{tag-wrapper
        tag=tag
        tagOrders=this.tagOrders
        tagIcons=this.tagIcons
        updateSelectedTag=this.updateSelectedTag
      }}
    {{/each}}
  {{/if}}
</div>