<div class="docs-cards-filter categories-filter tag-filter">
  {{#if includedCustomQueries}}
    {{#each includedCustomQueries as |customQuery|}}
      {{custom-query-wrapper customQuery=customQuery customQueryOrders=customQueryOrders customQueryIcon=customQueryIcon updateSelectedCustomQuery=updateSelectedCustomQuery}}
    {{/each}}
  {{/if}}
  {{#if includedCategories}}
    {{#each includedCategories as |category|}}
      {{category-wrapper category=category categoryOrders=categoryOrders categoryIcon=categoryIcon updateSelectedCategory=updateSelectedCategory}}
    {{/each}}
  {{/if}}
  {{#if includedTags}}
    {{#each includedTags as |tag|}}
      {{tag-wrapper tag=tag tagOrders=tagOrders tagIcon=tagIcon updateSelectedTag=updateSelectedTag}}
    {{/each}}
  {{/if}}
</div>

