<div class="docs-cards-filter categories-filter tag-filter">
  {{#if includedCustomQueries}}
    {{#each includedCustomQueries as |customQuery|}}
      {{custom-query-wrapper customQuery=customQuery customQueryOrders=customQueryOrders customQueryIcon=customQueryIcon updateSelectedCustomQuery=updateSelectedCustomQuery}}
    {{/each}}
  {{/if}}
</div>

