<a onClick={{selectCustomQuery}} class="docs-card-box {{if isCustomQuerySelected "selected"}}">
  <span class="docs-card-box-header-title">{{customQueryTitle}}</span>
  <p class="docs-card-box-description">{{html-safe customQueryDescription}}</p>
</a>
